@page "/checklist/create"
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>Create</h3>
<Form ButtonText="Create Checklist" Checklist="@_checklist"
            OnValidSubmit="@CreateChecklist"></Form>
@code {
    readonly Checklist _checklist = new Checklist();
    async Task CreateChecklist()
    {
        await Http.PostAsJsonAsync("api/checklist", _checklist.Name);
        NavigationManager.NavigateTo("checklist");
    }
}
