@page "/checklist"
@inject HttpClient client
@inject IJSRuntime js

<h3>Checklists</h3>

<div class="form-group">
    <a class="btn btn-success" href="checklist/create"><i class="oi oi-plus"></i> Create New</a>
</div>

@if (checklistNames == null)
{
    <text>Loading...</text>
}
else if (checklistNames.Length == 0)
{
    <text>No checklists Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string clistName in checklistNames)
            {
                <tr>
                    <td>@clistName</td>
                    <td>
                        <a class="btn btn-success" href="developer/edit/@clistName">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(clistName))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    string[] checklistNames { get; set; }
    protected override async Task OnInitializedAsync()
    {
        checklistNames = await client.GetFromJsonAsync<string[]>("api/checklist");
    }
    async Task Delete(string checklistName)
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {checklistName}?"))
        {
            await client.DeleteAsync($"api/checklist/{checklistName}");
            await OnInitializedAsync();
        }
    }

}
