@page "/checklist"
@inject HttpClient Client
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<h3>Checklists</h3>

<div class="form-group">
    <a class="btn btn-success" href="checklist/create"><i class="oi oi-plus"></i> Create New</a>
</div>

@if (ChecklistNames == null)
{
    <text>Loading...</text>
}
else if (ChecklistNames.Length == 0)
{
    <text>No checklists Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (string checklistName in ChecklistNames)
            {
                <tr>
                    <td>@checklistName</td>
                    <td>
                        <a class="btn btn-success" href="@($"checklist/items/{checklistName}")">Inspect</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(checklistName))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    string[] ChecklistNames { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ChecklistNames = await Client.GetFromJsonAsync<string[]>("api/checklist");
    }
    async Task Delete(string checklistName)
    {
        if (await Js.InvokeAsync<bool>("confirm", $"Do you want to delete {checklistName}?"))
        {
            await Client.DeleteAsync($"api/checklist/{checklistName}");
            await OnInitializedAsync();
        }
    }

}
